/*LLAMADO AL HTML*/
/*ESTILOS RESET CSS*/

* {
  margin: 0%;
  padding: 0%;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* Body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #defffc;
}

/*ESTILOS HEADER/NAV*/
#header {
  text-align: center;
  padding: 10px 20px;
}

/*IMAGENES*/

.imgprincipal {
  margin: auto;
  height: auto;
  padding: 0%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.agencia {
  margin: auto;
  height: auto;
  padding: 0%;
  display: flex;
  justify-content: center;
}

/*NAVEGACION-MENU HAMBURGUESA*/

.nav {
  border-bottom: 1px solid grey;
}

.nav__toggle {
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
}

.close,
input[type="checkbox"] {
  display: none;
}

.hamburger {
  margin-top: 0.2rem;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 1rem;
}

li {
  list-style: none;
  display: none;
}

li:first-child {
  margin-right: auto;
  display: block;
}

.nav__menu a {
  text-decoration: none;
  color: initial;
  font-size: 1.2rem;
}

#nav__checkbox:checked ~ ul.nav__menu li {
  display: block;
}
#nav__checkbox:checked ~ label.nav__toggle .hamburger {
  display: none;
}

#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}


.logo-chiquito{
  height: 150px;
  width: 100%;
  display: block;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

/*INICIO */
main {
  margin: 20px;
  padding: 20px;
}

h1 {
  text-align: center;
  text-decoration: underline;
  margin: 20px;
}

p {
  font-size: 20px;
}

/*ESTILOS FOOTER*/
.footer {
  margin: 20px;
  padding: 20px;
  border-top: 1px solid black;
  text-align: center;
}

/*NOSOTROS*/
.main-nosotros h1{
  font-size: 80px;
}

.titulos-nosotros h2{
  font-size: 30px;
  line-height: 2;
}

.titulos-nosotros p{
  font-size: 20px;
  line-height: 2.0; 
}

.agencia{
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  object-fit: cover;
}

.titulo-valores h3{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  line-height: 2;
  color: 	#EABE3F;
}

.valores-texto p{
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 1.5;
  padding: 10px;
}

.nuestra-sucursal h4{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  line-height: 2;
  margin: auto;
}

.mapa {
  margin: auto;
  height: auto;
  padding: 0%;
  display: flex;
  justify-content: center;
}

/*Clientes*/
.testimonios {
  font-size: 30px;
}

.testimonios p{
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
}
.testimonios h1 h2 h3 h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.2;
}

footer h3{
  font-size: 30px;
}

/*SERVICIOS*/

.titulos-servicios h1{
  font-size: 40px;
}

.titulos-servicios h2{
  font-size: 35px;
  color:red;
  margin: 20px;
  padding: 20px;
}

.titulos-servicios h3{
  font-size: 30px;
  margin:15px;
}

.titulos-servicios h4{
  font-size: 30px;
  margin: 15px;
}

.titulos-servicios h5{
  font-size: 30px;
  margin: 15px;
}

.titulos-servicios h6{
  font-size: 30px;
  margin: 15px;
}

.texto-servicios p{
  font-size: 20px;
  line-height: 1.5;
  padding: 20px;
}


/*imagenes*/

.digital {
  margin: auto;
  height: 500px;
  width:auto;
  padding: 40px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);

}

.contenidos {
  margin: auto;
  height: 500px;
  width:auto;
  padding: 40px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.consultoria {
  margin: auto;
  height: 500px;
  width:auto;
  padding: 40px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.paginas-web{
  margin: auto;
  height: 500px;
  width:auto;
  padding: 40px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

/*TEXTO NOSOTROS*/
/*Contacto Form*/
.formulario {
  margin: auto;
  height: auto;
  padding: 0%;
  display: flex;
  justify-content: center;
}

/*FOOTER*/
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.footer h4{
  font-size: 20px;
  font-weight: bold;
  color: black;
  font-family:'Times New Roman', Times, serif ;
  margin: 0;
}

.logo-chiquito-footer{
  float: left;
  height: auto;
  width: 100px;
  
}


/*BREAKPOINTS MEDIA QUERIES

MOVIL:600PX
TABLET:800PX



*/
@media (min-width: 601px) and (max-width: 1024px) {
  #header {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
  }
  .logo img {
    width: 100%;
    height:300px;
  }
  #main {
    margin: 5vh;
    font-size: 2rem;
  }
  .imgprincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }


  /*Nosotros*/
  h2{
    font-size: 40px;
    line-height: 2;
  }
  h3{
    font-size: 40px;
    line-height: 2;
  }
  .valores-texto{
    font-size: 25px;
    line-height: 1.5;
    padding: 10px;
  }
  h4{
    font-size: 40px;
    line-height: 2
  }
  .footer h3{
    font-size: 20px;
  }
  .agencia {
    display: flex;
    justify-content: center;
  }
  .agencia img {
    max-width: 100%;
    height: auto;
  }
  .mapa {
    display: flex;
    justify-content: center;
  }
  .mapa iframe {
    width: 100%;
    height: 450px;
  }


  /*Clientes*/

  h1{
    font-size: 40px;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 30px
  }
  h4{
    font-size: 30px
  }
  

  .testimonios {
    margin: 5vh;
    font-size: 2rem;
  }
}
/*SERVICIOS*/



/*Moviles*/
@media (max-width: 600px) {

  .logo-chiquito{
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
}


  .imgprincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  /*Texto*/
  body {
    font-size: 18px;
  }
  h1, h2 {
    font-size: 24px;
    margin: 10px;
    line-height: 2;
  }
  p {
    font-size: 16px;
  }
  .footer h3 {
    font-size: 14px;
  }
  /*Nosotros*/

.titulos-nosotros{
    font-size: 50px;
  }

.titulos-nosotros p{
    font-size: 20px;
    line-height: 1.5;
  }
  
  .titulo-valores h3{
    font-size: 30px;
    margin: 4px;
  }


  .valores-texto p {
    font-size: 20px;
    line-height:1.5;
    padding: 5px;
    margin-bottom: 15px;
  }

.nuestra-sucursal h4 {
    font-size: 30px;
    margin: 4px;
  }

  .agencia {
    display: flex;
    justify-content: center;
  }
  .agencia img {
    max-width: 100%;
    height: auto;
  }
  .mapa {
    display: flex;
    justify-content: center;
  }
  .mapa iframe {
    width: 100%;
    height: 450px;
  }

  /*Clientes*/
  p{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  .testimonios {
    font-size: 1rem;
    line-height: 2;
  }

  .testimonios h1 h2 h3 h4{
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  .footer h3{
    font-size: 14px;
  }

  


/*SERVICIOS*/

.titulos-servicios h1{
  font-size: 35px;
}


.titulos-servicios h3{
  font-size: 25px;
  margin:15px;
}

.titulos-servicios h4{
  font-size: 25px;
  margin: 15px;
}

.titulos-servicios h5{
  font-size: 25px;
  margin: 15px;
}

.titulos-servicios h6{
  font-size: 25px;
  margin: 15px;
}

.texto-servicios p{
  font-size: 15px;
  line-height: 1.5;
  padding: 20px;
}


/*imagenes*/

.digital {
  margin: auto;
  height: 250px;
  width:auto;
  padding: 40px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);

}

.contenidos {
  margin: auto;
  height: 250px;
  width:auto;
  padding: 40px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.consultoria {
  margin: auto;
  height: 250px;
  width:auto;
  padding: 40px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.paginas-web{
  margin: auto;
  height: 250px;
  width: auto;
  padding: 40px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}


/*FOOTER*/

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.footer h4{
  font-size: 15px;
  font-weight: bold;
  color: black;
  font-family:'Times New Roman', Times, serif ;
  margin: 0;
}

.logo-chiquito-footer{
  float: left;
  height: auto;
  width: 100px;
}

}

/*# sourceMappingURL=style.css.map */