/*LLAMADO AL HTML*/
/*ESTILOS RESET CSS*/
* {
  margin: 0%;
  padding: 0%;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* Body */
body {
  background-color: #defffc;
}

/*ESTILOS HEADER/NAV*/
#header {
  border-bottom: 1px solid black;
  text-align: center;
  padding: 10px 20px;
}

/*IMAGENES*/
.logo {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  object-fit: cover;
}


.imgprincipal {
  margin: auto;
  height: auto;
  padding: 0%;
  display: flex;
  justify-content: center;
}

.agencia {
  margin: auto;
  height: auto;
  padding: 0%;
  display: flex;
  justify-content: center;
}

/*NAVEGACION*/
nav ul li {
  list-style: none;
  text-align: center;
  display: inline-block;
  margin: 0 10px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

/*MAIN*/
main {
  margin: 20px;
  padding: 20px;
}

h1 {
  text-align: center;
  text-decoration: underline;
  margin: 20px;
}

p {
  font-size: 20px;
}

/*ESTILOS FOOTER*/
.footer {
  margin: 20px;
  padding: 20px;
  border-top: 1px solid black;
  text-align: center;
}

/*NOSOTROS*/
h1{
  font-size: 80px;
}

h2{
  font-size: 50px;
  line-height: 2;
}

p1{
  font-size: 20px;
  line-height: 2;
}

.agencia{
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  object-fit: cover;
}

h3{
  font-size: 50px;
  line-height: 2;
}

.valores-texto{
  font-size: 30px;
  line-height: 1.5;
  padding: 10px;
}

h4{
  font-size: 50px;
  line-height: 2;
  margin: auto;
}

.mapa {
  margin: auto;
  height: auto;
  padding: 0%;
  display: flex;
  justify-content: center;
}

/*Clientes*/
.testimonios {
  font-size: 30px;
}
p{
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
}
.testimonios h1 h2 h3 h4{
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.2;
}
footer h3{
  font-size: 30px;
}

/*SERVICIOS*/




/*imagenes*/
.digital {
  margin: auto;
  height: auto;
  padding: 40px;;
  display: flex;
  justify-content: center;
}

.contenidos {
  margin: auto;
  height: auto;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.consultoria {
  margin: auto;
  height: auto;
  padding: 40px;
  display: flex;
  justify-content: center;
}

/*TEXTO NOSOTROS*/
/*Contacto Form*/
.formulario {
  margin: auto;
  height: auto;
  padding: 0%;
  display: flex;
  justify-content: center;
}

/*BREAKPOINTS MEDIA QUERIES

MOVIL:600PX
TABLET:800PX



*/
@media (min-width: 601px) and (max-width: 1024px) {
  #header {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
  }
  .logo img {
    width: 100%;
    height:300px;
  }
  #main {
    margin: 5vh;
    font-size: 2rem;
  }
  .imgprincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }


  /*Nosotros*/
  h2{
    font-size: 40px;
    line-height: 2;
  }
  h3{
    font-size: 40px;
    line-height: 2;
  }
  .valores-texto{
    font-size: 25px;
    line-height: 1.5;
    padding: 10px;
  }
  h4{
    font-size: 40px;
    line-height: 2
  }
  .footer h3{
    font-size: 20px;
  }
  .agencia {
    display: flex;
    justify-content: center;
  }
  .agencia img {
    max-width: 100%;
    height: auto;
  }
  .mapa {
    display: flex;
    justify-content: center;
  }
  .mapa iframe {
    width: 100%;
    height: 450px;
  }


  /*Clientes*/

  h1{
    font-size: 40px;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 30px
  }
  h4{
    font-size: 30px
  }
  

  .testimonios {
    margin: 5vh;
    font-size: 2rem;
  }
}
/*SERVICIOS*/



/*Moviles*/
@media (max-width: 600px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    margin: 10px 0;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .logo img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .imgprincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  /*Texto*/
  body {
    font-size: 18px;
  }
  h1, h2 {
    font-size: 24px;
    margin: 10px;
    line-height: 2;
  }
  p {
    font-size: 16px;
  }
  .footer h3 {
    font-size: 14px;
  }
  /*Nosotros*/

  p{
    font-size: 50px;
  }

  p1{
    font-size: 20px;
    line-height: 1.5;
  }
  
  h3{
    font-size: 30px;
    margin: 4px;
  }


  .valores-texto{
    font-size: 20px;
    line-height:1.5;
    padding: 5px;
    margin-bottom: 15px;
  }

  h4{
    font-size: 30px;
    margin: 4px;
  }

  .agencia {
    display: flex;
    justify-content: center;
  }
  .agencia img {
    max-width: 100%;
    height: auto;
  }
  .mapa {
    display: flex;
    justify-content: center;
  }
  .mapa iframe {
    width: 100%;
    height: 450px;
  }
  /*Clientes*/
  p{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  .testimonios {
    font-size: 1rem;
    line-height: 2;
  }

  .testimonios h1 h2 h3 h4{
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  .footer h3{
    font-size: 14px;
  }

  }

  /*Servicios*/
  .digital {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  .contenidos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.consultoria {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.footer{
    font-size: 18px;
}



/*# sourceMappingURL=style.css.map */
